<!--
 * @Description: 
 * @Version: 
 * @Author: fsh
 * @Date: 2023-04-17 14:37:26
 * @LastEditTime: 2023-04-17 14:59:13
-->
<html>
    <script src="__JS__/bootstrap.js"></script>
<script src="__JS__/jquery-3.6.3.min.js"></script>


<head>
<script  type="text/JavaScript"  language="JavaScript">
function  doclick(){
var  docs  =  document.getElementById('url');
docs.readOnly  =  false;
docs.value="hi";
//alert("asdfasd");
}
</script>
</head>
<body>
<input  type="text"  id="url"  name="T_montant"  value="com"  readOnly  />
<input  type="button"  value="edit"  onclick="doclick()">
</body>


</html>