<!--
 * @Description: 
 * @Version: 
 * @Author: fsh
 * @Date: 2023-04-13 18:43:45
 * @LastEditTime: 2023-05-17 11:59:33
-->
<!DOCTYPE HTML>
<html>
<head>
<title>利用json数据动态创建表格</title>
<meta charset="utf-8" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
table{width:600px; 
border-collapse:collapse; 
text-align:center;
}
td,th{border:1px solid #ccc}
body {
  font-family: Arial;
}

* {
  box-sizing: border-box;
}

form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}
#myInput {
    background-image: url('https://static.runoob.com/images/mix/searchicon.png'); /* 搜索按钮 */
    background-position: 10px 12px; /* 定位搜索按钮 */
    background-repeat: no-repeat; /* 不重复图片 */
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px; 
}
 
#myTable {
    border-collapse: collapse; 
    width: 100%; 
    border: 1px solid #ddd;
    font-size: 18px; 
}
 
#myTable th, #myTable td {
    text-align: left;
    padding: 12px;
}
 
#myTable tr {
    /* 表格添加边框 */
    border-bottom: 1px solid #ddd; 
}
 
#myTable tr.header, #myTable tr:hover {
    /* 表头及鼠标移动过 tr 时添加背景 */
    background-color: #f1f1f1;
}
</style>
<!--引入js文件-->
<script src="__JS__/bootstrap.js"></script>
<script src="__JS__/jquery-3.6.3.min.js"></script>
<script>
  // var json=[
  // {"name":"王大", "salary":11000, "age":25},
  // {"name":"李二", "salary":13000, "age":22},
  // {"name":"张三", "salary":12000, "age":25}
  // ];
  $.ajax({
          type:'post',
          url: "{:url('home/viewDataTable')}",
          data: {'none':"none"},
              success: function(d) {
                //   alert(d);
                  // var json = json_decode(d);
                  var json = JSON.parse(d);
                  var table=document.createElement("table");
                // var table = document.getElementById("myTable");
                  table.id="myTable";
                  //创建thead，并追加到table中
                  var thead=document.createElement("thead");
                  table.appendChild(thead);
                  //创建tr,并追加到thead
                  var tr=document.createElement("tr");
                  thead.appendChild(tr);
                  //json数组中第1个人的每个属性
                  var selectTab=document.getElementById("columnName");
                  selectTab.options.length = 0;
  
                  
                  var count=0;
                  for(var key in json[0]){
                    // add select element
                      selectTab.options.add(new Option(key, count));
                      count++;
                      //创建th
                      var th=document.createElement("th");
                      //设置th的内容为key
                      th.innerHTML=key;
                      //将th追加到tr中
                      tr.appendChild(th);
                  }
                  var th=document.createElement("th");
                  th.innerHTML="operation";
                  tr.appendChild(th);
  
                  //创建tbody元素
                  var tbody=document.createElement("tbody");
                  //将tbody追加到table中
                  table.appendChild(tbody);
                  //遍历json中所有员工
                  for(var i=0;i<json.length;i++){
                      //创建tr
                      var tr=document.createElement("tr");
                      //遍历当前员工的每个属性
                      for(var key in json[i]){
                          //创建td
                          var td=document.createElement("td");
                          //设置td的内容为当前员工的当前属性值
                          td.innerHTML=json[i][key];
                          //将td追加到tr
                          tr.appendChild(td);
                      }//(遍历结束)
                      var td=document.createElement("td");
                    //   td.innerHTML=  '<input type="button" value="delete" class="del"/><input type="button" value="modify" class="update"/>';
                      td.innerHTML='<input type="button" value="delete" class="del"/><input type="button" value="modify" class="update"/>';
                      tr.appendChild(td);
                      //将tr追加到tbody中
                      tbody.appendChild(tr);
                  }
                  //将table添加到id为data的div下
                  document.getElementById("data").appendChild(table);
                  doOperator();
        },
              error: function(data){
                  alert("error occurs! Please contact technical staffs: lucifer_1412@bupt.edu.cn!");
              }
          });
  
          
  
  </script>
  <script type="text/javascript">
    var mode='modify';
    function $(eleStr){
        switch(eleStr.substr(0,1)){
        case "#":
            return document.getElementById(eleStr.substr(1));
            break;
        case ".":
            return document.getElementsByClassName(eleStr.substr(1));
            break;
        case "_":
            return document.getElementsByName(eleStr.substr(1));
            break;
        default:
            return document.getElementsByTagName(eleStr);
        break;
        }
    }
  
    onload = function(){
  
        doOperator();       
    }
  
    function deleteRowByNum(num){
        var infoo = {'rowNum': num};
        // alert(infoo);
        $.ajax({
                        type:'post',
                        url: "{:url('home/deleteRowByRownum')}",
                        data: infoo,
                        success: function(d) {
                                alert(d);
                            },
                        error: function(data){
                        alert("error");
                        }
                    });

    }
    function doOperator(){
        // alert("enter");
        var updates =$(".update");
        var dels =$(".del");
        for (var i = 0; i < dels.length; i++) {
            dels[i].onclick =   function(){
                if(confirm("are you sure to delete？")){  //提示是否删除
                    //var row = this.parentNode.parentNode; //取到tr对象
                    //row.parentNode.removeChild(row);  //移除tr

                    // alert("列名为"+document.getElementsByTagName("th")[num]+"行号为"+this.parentNode.parentNode.rowIndex);
                    var table =document.getElementById("myTable");

                    var columns = table.rows[0].cells.length;
                    //最后一行operation和自动生成的unique_id不能改变
                    var theData="";
                    for(x=0;x<columns-2;x++){
                        // alert(table.rows[0].cells[i].innerHTML);
                        var operatorCell = this.parentNode.parentNode.getElementsByTagName("td")[x]; //取到要操作的td对象
                        // var tagInfo=operatorCell.getElementsByTagName("input")[x].value;
                        var tagInfo=table.rows[this.parentNode.parentNode.rowIndex].cells[x].innerHTML;
                        theData=theData+tagInfo;
                        // alert(i);
                    }
                    // alert(theData);
                    if(theData!=""){
                        alert("the column number is: "+this.parentNode.parentNode.rowIndex);
                    var num=this.parentNode.parentNode.rowIndex;
                    // deleteRowByNum(num);
                    // todo 如果是add未确认的时候删除的，不传给后端
                    window.location.href="/index/deleteRowByRownum?num="+num;
                    // window.location.href = "/home";
                    }


                    

                    
                    $("#myTable").deleteRow(this.parentNode.parentNode.rowIndex);
                }
            }
            updates[i].onclick = function(){
                
                //1.修改按钮上有两个功能：修改，确定修改
                if(this.value == "modify"){
                    this.value = "confirm";
                    var table =document.getElementById("myTable");
                    var columns = table.rows[0].cells.length;
                    //最后一行operation和自动生成的unique_id不能改变
                    for(i=0;i<columns-2;i++){
                        var operatorCell = this.parentNode.parentNode.getElementsByTagName("td")[i]; //取到要操作的td对象
                        operatorCell.innerHTML ="<input value='"+operatorCell.innerHTML+"'/>";//把内容变成文本框
                    }
                    
                    //做修改操作
                }else{

                    var table =document.getElementById("myTable");

                    var columns = table.rows[0].cells.length;
                    //最后一行operation和自动生成的unique_id不能改变
                    var addData={};
                    for(i=0;i<columns-2;i++){
                        // alert(table.rows[0].cells[i].innerHTML);
                        var operatorCell = this.parentNode.parentNode.getElementsByTagName("td")[i]; //取到要操作的td对象
                        var tagInfo=operatorCell.getElementsByTagName("input")[0].value;
                        addData[table.rows[0].cells[i].innerHTML]=tagInfo;
                        operatorCell.innerHTML =tagInfo;//把文本框变成内容
                        // alert(i);
                    }
                    // alert(JSON.stringify(addData));
                    if(mode=='modify'){
                        //修改
                        // alert("修改");
                        addData[table.rows[0].cells[columns-2].innerHTML]=this.parentNode.parentNode.getElementsByTagName("td")[columns-2].innerHTML;
                        window.location.href="/test/testModifyInfo?info="+JSON.stringify(addData);

                    }
                    else if(mode=='add'){
                        mode='modify';
                        window.location.href="/test/testAddInfo?info="+JSON.stringify(addData);

                    }
                    
                    // $.ajax({
                    //     type:'post',
                    //     url: "{:url('test/testAddInfo')}",
                    //     data: addData,
                    //     success: function(d) {
                    //             alert(d);
                    //         },
                    //     error: function(data){
                    //     alert("error");
                    //     }
                    // });
                    // operatorCell.innerHTML =operatorCell.getElementsByTagName("input")[0].value;//把文本框变成内容
                    this.value = "modify";
                    //做确定修改
                }
            }
        }
    }
    
    function addRow(){
        mode='add';
        var rs = $("#myTable").rows;  //table取到所有的行
        // var insertR = $("#myTable").insertRow(rs.length-1); //给表格添加一行(不包单元格)
        var insertR = $("#myTable").insertRow(1);
        //insertR.innerHTML = rs[1].innerHTML;    
        var table =document.getElementById("myTable");
        // var rows = table.rows.length;
        // alert('行数'+rows);
        var columns = table.rows[0].cells.length;
        // alert('列数'+columns);
        for(i=0;i<columns;i++){
            var c1 = insertR.insertCell(i);
            
        }
        c1.innerHTML ='<input type="button" value="delete" class="del"/><input type="button" value="modify" class="update"/>';
        
        // var c1 = insertR.insertCell(0);       
        // // c1.innerHTML = "yc" +Math.round(Math.random() * 101);
        // var c2 = insertR.insertCell(1);
        // var c21 = insertR.insertCell(2);
        // var c22 = insertR.insertCell(3);
        // // c2.innerHTML = Math.round(Math.random() * 101);
        // var c3 = insertR.insertCell(columns-1);
        // c3.innerHTML ='<input type="button" value="delete" class="del"/><input type="button" value="modify" class="update"/>';
  
        doOperator();
  
        var cs = rs[1].cells; //取到当前行的所有单元格
        //alert(cs[1].innerHTML);
    }
  </script>
</head>
<body>
My Data
<select id="columnName">
  </select>
<script>
    
</script>

<input type="text" id="myInput" onkeyup="searchByKeywords()" placeholder="search info...">
<!-- <button type="button" onclick="searchInfo()"><i class="fa fa-search"></i></button> -->
<input type="button" value="add" onclick="addRow()"/></td>
<div id="data">
    <!-- <table id="myTable"  cellpadding="0" cellspacing="0"></table> -->
</div>
<script>
    
    function searchByKeywords(){
        
    // 声明变量
    var columnName=document.getElementById("columnName").selectedIndex;
    var input, filter, table, tr, td, i;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    th=table.getElementsByTagName("th");
    tr = table.getElementsByTagName("tr");
 

    // 循环表格每一行，查找匹配项
    for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[columnName];
        if (td) {
            if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
            } 
            else {
                tr[i].style.display = "none";
            }
        } 
    }

    }
</script>

</body>
</html>
