<!--
 * @Description: personal page
 * @Version: 2.6
 * @Author: fsh
 * @Date: 2023-04-10 17:07:23
 * @LastEditTime: 2023-05-17 15:15:57
-->
<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="__CSS__/template.css">
<script src="__JS__/bootstrap.js"></script>
<script src="__JS__/jquery-3.6.3.min.js"></script>
<style>
  .container {
    height: 100%;
    background-image: linear-gradient(to left, #fbc2eb, #a6c1ee);
}
  form.example input[type=text] {
        padding: 10px;
        font-size: 17px;
        border: 1px solid grey;
        float: left;
        width: 80%;
        background: #f1f1f1;
      }
      
      form.example button {
        float: left;
        width: 20%;
        padding: 10px;
        background: #2196F3;
        color: white;
        font-size: 17px;
        border: 1px solid grey;
        border-left: none;
        cursor: pointer;
      }
      
      form.example button:hover {
        background: #0b7dda;
      }
      
      form.example::after {
        content: "";
        clear: both;
        display: table;
      }
      body {font-family: Arial;}
    
    /* Style the tab */
    .tab {
      overflow: hidden;
      border: 1px solid #ccc;
      background-color: #f1f1f1;
    }
    
    /* Style the buttons inside the tab */
    .tab button {
      background-color: inherit;
      float: left;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 14px 16px;
      transition: 0.3s;
      font-size: 17px;
    }
    
    /* Change background color of buttons on hover */
    .tab button:hover {
      background-color: #ddd;
    }
    
    /* Create an active/current tablink class */
    .tab button.active {
      background-color: #ccc;
    }
    
    /* Style the tab content */
    .tabcontent {
      display: none;
      padding: 6px 12px;
      border: 1px solid #ccc;
      border-top: none;
    }

    table {
      border-collapse: collapse;
      border-spacing: 0;
      width: 100%;
      /* height: 300px; */
      border: 1px solid #ddd;
    }
    /* table,tbody {
            display: block;
            height: 300px;
            border: 0;
            border-spacing: 0;
            border-collapse: collapse;
            cursor: default;
        } */
    tbody {
            overflow-y: scroll;
        }
    th, td {
      text-align: left;
      padding: 16px;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    btn {
                text-align: center;
                padding: 10px;
                width: 100%;
                margin-top: 40px;
                background-image: linear-gradient(to right, #fbc2eb,#a6c1ee);
                color: #fff;
            }
  </style>
<head>
	<meta charset="utf-8">
	<title>Super Admin</title>
</head>

<script>
  
  function searchInfo(myInput,column){
        
        // 声明变量
        var input, filter, table, tr, td, i;
        input = document.getElementById(myInput);
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable1");
        tr = table.getElementsByTagName("tr");
     
        // 循环表格每一行，查找匹配项
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[column];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } 
                else {
                    tr[i].style.display = "none";
                }
            } 
        }
    
        }

    function modifyInfo(){
      var json_tem = {"operation":"modify profile"};
      if(checkbox_firstName.checked==true){
          if(firstName.value==""){
            alert("input of first name is blank!");
            return;
          }
          json_tem["firstName"]=firstName.value;
      }
      if(checkbox_lastName.checked==true){
          if(lastName.value==""){
            alert("input of last name is blank!");
            return;
          }
          json_tem["lastName"]=lastName.value;
      }
      if(checkbox_email.checked==true){
          if(email.value==""){
            alert("input of email is blank!");
            return;
          }
          var re = /(^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+(.[a-zA-Z0-9_-])+)|(^$)/;
		      if(!re.test($("#email").val())) {
			      alert("wrong email format！");
			      return;
		      }
          json_tem["email"]=email.value;
      }

      if(checkbox_firstName.checked==false && checkbox_lastName.checked==false && checkbox_email.checked==false){
        alert("you have not chosen anything to modify");
        return;
      }
      // alert(json_tem);
      // document.write(JSON.stringify(json_tem));
      // alert(json_tem.className);
      var data = JSON.stringify(json_tem);

      $.ajax({
        type:'post',
		    url: "{:url('home/modifyInfo')}",
		    data: json_tem,
            success: function(d) {
              // alert(JSON.stringify(d));
              // alert(d);
              window.location.reload();
            },
            error: function(data){
                alert("error");
            }
      });
    }

    function  doclick(){
      var  docs1  =  document.getElementById('user1');
      docs1.readOnly  =  false;
      docs1.style.background = "lightblue";
      var  docs2  =  document.getElementById('user2');
      docs2.readOnly  =  false;
      docs2.style.background = "lightblue";
      //alert("asdfasd");
    }
    
    function modifyTrustedUser(){
      var info = {'user1': user1.value, 'user2':user2.value};
      $.ajax({
          type:'post',
		      url: "{:url('home/modifyTrustedUser')}",
		      data: info,
            success: function(d) {
              alert(d);

			},
            error: function(data){
              alert("error");
            }
        });
    }

    function openTab(evt, tabName) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(tabName).style.display = "block";
      evt.currentTarget.className += " active";

      $.ajax({
          type:'post',
		      url: "{:url('login/getUser')}",
		      data: {'none':"none"},
            success: function(d) {
              // alert(d);
              updateTable('myTable',d);

			},
            error: function(data){
              alert("error");
            }
        });


      $.ajax({
        type:'post',
		    url: "{:url('home/getAdminData')}",
		    data: {'none':"none"},
        success: function(d) {
          // alert(d);
          updateTable('myTable1',d);
			  },
        error: function(data){
          alert("error");
        }
      });

      $.ajax({
        type:'post',
		    url: "{:url('home/getOperationHistory')}",
		    data: {'none':"none"},
        success: function(d) {
          // alert(d);
          updateTable('myTable_op',d);
			  },
        error: function(data){
          alert("error");
        }
      });

      $.ajax({
        type:'post',
		    url: "{:url('home/getTrustedUser')}",
		    data: {'none':"none"},
        success: function(d) {
          // alert(d);
          var  docs1  =  document.getElementById('user1');
          var  docs2  =  document.getElementById('user2');
          var json = JSON.parse(d);
          docs1.value=json[0]["user1"];
          docs2.value=json[0]["user2"];
          // var text_user1=document.getElementById("user1");
          // // var text_user1=document.getElementById("user1");
          
          // test_user1.innerHTML=json[0]["user1"];
          // var dt=json[0]["user1"];
          // test_user1.value="hi";
          // alert(json[0]["user1"]);
          // updateTable('myTable2',d);
			  },
        error: function(data){
          alert("error");
        }
      });
      
    }
    
    function searchByKeywords(){
        
        // 声明变量
        var columnName=document.getElementById("columnName").selectedIndex;
        var input, filter, table, tr, td, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable_op");
        th=table.getElementsByTagName("th");
        tr = table.getElementsByTagName("tr");
     
    
        // 循环表格每一行，查找匹配项
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[columnName];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } 
                else {
                    tr[i].style.display = "none";
                }
            } 
        }
    
    }
        
    function updateTable(tableId, d){
      var json = JSON.parse(d);
      var table=document.getElementById(tableId);
      if(tableId=="myTable1"){
        table.height=300;
      }
      var rowNum=table.rows.length;
      for (i=0;i<rowNum;i++)
        {
         table.deleteRow(i);
         rowNum=rowNum-1;
         i=i-1;
        }
      //create thead and append into table (创建thead，并追加到table中)
      var thead=document.createElement("thead");
      table.appendChild(thead);
      //create tr and append to thead (创建tr,并追加到thead)
      var tr=document.createElement("tr");
      thead.appendChild(tr);
       //json数组中第1个人的每个属性
       var selectTab=document.getElementById("columnName");
                  selectTab.options.length = 0;

                  var count=0;
      //read the attribute of one of json array (json数组中第1个人的每个属性)
      for(var key in json[0]){
        // add select element
        selectTab.options.add(new Option(key, count));
                      count++;
        //create th (创建th)
        var th=document.createElement("th");
        //set the content of th as key (设置th的内容为key)
        th.innerHTML=key;
        //append th to tr (将th追加到tr中)
        tr.appendChild(th);
      }
      //create element tbody (创建tbody元素)
      var tbody=document.createElement("tbody");
      //将tbody追加到table中
      table.appendChild(tbody);
      //遍历json中所有员工
      for(var i=0;i<json.length;i++){
        //创建tr
        var tr=document.createElement("tr");
        //遍历当前员工的每个属性
        for(var key in json[i]){
          //创建td
          var td=document.createElement("td");
          //设置td的内容为当前员工的当前属性值
          td.innerHTML=json[i][key];
          //将td追加到tr
          tr.appendChild(td);
        }//(遍历结束)
        //将tr追加到tbody中
        tbody.appendChild(tr);
      }
      //将table添加到id为data的div下
      document.getElementById("data").appendChild(table);
    }

    // Get the element with id="defaultOpen" and click on it
    // document.getElementById("defaultOpen").click();
      
    </script>
    <script>
      // Get the modal
      var modal = document.getElementById('id01');
      
      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function(event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      }
      </script>
<body>
	<div class="container">
        <div class=wrapper>
            <div class="tab">
            <button class="tablinks" onclick="openTab(event, 'Help')" id="defaultOpen">Help</button>
            <button class="tablinks" onclick="openTab(event, 'Profile')">Profile</button>
            <button class="tablinks" onclick="openTab(event, 'User Data')">User Data</button>
            <button class="tablinks" onclick="openTab(event, 'Manage User')">Manage User</button>

            </div>
    
            <div id="Help" class="tabcontent">
                <h3>Help</h3>
                reset password:
                <a href="/index/resetPassword">reset password</a>
                <select id="columnName">
                </select>
                <input type="text" id="myInput" onkeyup="searchByKeywords()" placeholder="search info...">

                <div style="height:350px;overflow-x:auto;overflow-y:auto">
                  <table id = "myTable_op" data-pagination="true" data-side-pagination="client" data-page-size="5" height="300px"  >          
                  </table>                
                </div>
            </div>
    
            <div id="Profile" class="tabcontent">
                <h3>Profile</h3>
                <p> </p> 
                <div style="overflow-x:auto;">
                <table id = "myTable" data-pagination="true" data-side-pagination="client" data-page-size="5"   >          
                </table>
                
                <button class="tablinks" onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Modify              Data</button>
                <div id="id01" class="modal">
                  <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
                  <form class="modal-content" >
                    <div class="container1">
                      <h1>Modify Profile Information</h1>
                      <hr>
                      <label>
                        <input type="checkbox" name="checkbox_firstName" id="checkbox_firstName" style="margin-bottom:15px">Modify first name
                      </label>     
                      <input type="text" placeholder="first name" name="firstName" id = "firstName">

                      <label>
                        <input type="checkbox" name="checkbox_lastName" id="checkbox_lastName" style="margin-bottom:15px">Modify last name
                      </label>     
                      <input type="text" placeholder="last name" name="lastName" id = "lastName">

                      <label>
                      <input type="checkbox" name="checkbox_email" id="checkbox_email" style="margin-bottom:15px">Modify email
                      </label>     
                      <input type="text" placeholder="email" name="email" id = "email">


                      <div class="clearfix">
                        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                        <button type="button" class="signupbtn" onclick="modifyInfo()" class="btn">Confirm</button>
                      </div>
                    </div>
                  </form>
                </div>
                </div>
            </div>
    
            <div id="User Data" class="tabcontent">
                <div style="height:350px;overflow-x:auto;overflow-y:auto">
                  <table id = "myTable1" data-pagination="true" data-side-pagination="client" data-page-size="5" height="300px"  >          
                  </table>
                  
                  
                </div>
                <input type="text" id="myInput" onkeyup="searchInfo('myInput',0)" placeholder="search by ID...">
                <input type="text" id="myInput1" onkeyup="searchInfo('myInput1',2)" placeholder="search by file name...">
                <form class="example" action = "{:url('home/chooseDataTable')}" method="post">
                  <input type="text" placeholder="use the data with the id of .." name="auth_id" id="auth_id" required>
                  <button type="submit" >view data</button>
                </form>
            </div>

            <div id="Authorize User" class="tabcontent">
              <h3>Authorize User</h3>
              <p>You can choose upto 2 trusted users</p>
              <p></p>
              <table id = "myTable2" data-pagination="true" data-side-pagination="client" data-page-size="5" >
              </table>
              user1<input  type="text"  id="user1"  name="user1" value=""  readOnly  />
              user2<input  type="text"  id="user2"  name="user2" value=""  readOnly  />
              <input  type="button"  value="edit"  onclick="doclick()">
              <button onclick="modifyTrustedUser()">save</button>
             
            </div>

            <div id="Manage User" class="tabcontent">
              <h3>Manage User</h3>
              <!-- <form action="{:url('home/readUploadFile')}" enctype="multipart/form-data" method="post">
                <input type="file" id="fileName" name="fileName">
                <button type="submit">submit</button>
              </form> -->
              please use mySQL workbench to operate
            </div>

        </div>
	</div>
 
</table>

</body>

</html>